.wrapper {
  position: relative;
  overflow: hidden;
}
.ImageDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  object-position: center;
 border-radius: 20;
filter: drop-shadow(2.5px 2.5px 5px #000);
}

.img {
  border-radius: 5%;
}
.source {
  opacity: 0;
  transition: opacity 1200ms;
}
.loaded {
  opacity: 1;
}

/* For demo layout */
a {
  color: rgb(50, 29, 205);
  text-decoration: none;
}
figcaption {
  margin-top: 0.3rem;
  color: #4a5568;
  font-size: 0.9rem;
}
.LazyImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: calc(100vh - 100px);
}
