/* 
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("../../fonts/Poppins/") format("truetype");
  font-weight: normal;
} */
/* @font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../../fonts/Poppins/Poppins-Black.ttf) format('opentype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    src: local('Poppins'), url(../../fonts/Poppins/Poppins-ExtraBold.ttf) format('opentype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    src: local('Poppins'), url(../../fonts/Poppins/Poppins-Medium.ttf) format('opentype');
}
.body {
  font-family: "Poppins";
  
} */
.IntroContainer{
  background: rgb(255,255,255);
  background: #2B2D2F;
  background-size: cover;
}
.App {
width: 250px; height: 400px; 
  margin-top:100px;
  margin-bottom:30px;
  background: rgba(255, 255, 255, 0.932);
border-radius: 20px; 
margin-left: auto;
margin-right: auto ;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
cursor: pointer;

}
.AppCon {
width: 255px; height: 405px; 
  margin-top:110px;
  margin-bottom:20px;
 background: rgba(255, 255, 255, 0.932);
border-radius: 10px; 
margin-left: auto;
margin-right: auto ;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  cursor: pointer;

}
.App:hover{
 background: rgba(255, 255, 255, 0.973);
}

